
		<div class="login-form">
			<h1>Login Form</h1>
			<form id='signin' method="POST" action="/login">
				<input class="sign_in_user_name" type="text" name="username" placeholder="Name" required>
				<input class="sign_in_password" type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
			<br>
			<p>a basic login form: <i>add your username and password to submit. This will reset the page if you get the login wrong.It will take you to a new screen if you input them correctly</i>
			</p>
		</div>
		</div>

