
		<div class="login-form">
			<h1>Signup Form</h1>
			<form action="/signupform" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
<br>
			<p>a basic signup form: <i>add a username and password to submit. This wont verify your signup via email or allow you to reset the password if you forget it.</i>
			</p>
		</div>




   
	